<div class="content">
  <div
    class="nav flex-column nav-pills left"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
    [class.active]="classApplied"
  >
    <div class="web-title">
      <img src="../../../assets/images/logo.png" alt="logo" class="logo" />
      <div class="big_title">Chest X-ray diagnosis support</div>
    </div>
    <button
      class="nav-link active rounded-0"
      id="v-pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-home"
      type="button"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
    >
      <span class="icon"><i class="fas fa-chart-pie"></i></span>
      <span class="title">Diagnosis</span>
    </button>
    <button
      class="nav-link rounded-0"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      <span class="icon"><i class="fas fa-ticket-alt"></i></span>
      <span class="title">History</span>
    </button>
  </div>
  <div class="tab-content right" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
    >
      <div class="tab-title">
        <div class="big">
          <i class="fas fa-bars" id="btn" (click)="toggleClass()"></i> Diagnosis
        </div>
        <div class="doctor_name">{{ currentUserName }}</div>
        <div class="line"></div>
        <div class="doctor_img">
          <img
            src="../../../assets/images/avatar.png"
            width="43px"
            height="43px"
          />
        </div>
      </div>
      <div class="form">
        <mat-stepper labelPosition="bottom" linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="firstForm">
              <ng-template matStepLabel>Medical Record</ng-template>
              <div>
                <div class="col">
                  <div class="field">
                    <div class="label">Full name</div>
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        placeholder="Last name, First name"
                        formControlName="firstCtrl"
                        required=""
                      />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">sex</div>
                    <mat-form-field appearance="outline">
                      <select matNativeControl>
                        <option value="Female">Female</option>
                        <option value="Male>">Male</option>
                        <option value="Other">Other</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Year or birth</div>
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        maxlength="2"
                        placeholder="Ex. 2020"
                        type="number"
                      />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">job</div>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Housewife" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <div class="label">address</div>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="HCM City" />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">hospitalization datetime</div>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="12/12/2022" />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">ID</div>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="12000" />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Presenting Complaint</div>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Why patient here?" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-full">
                  <div class="label desease-history">
                    Desease History /*Enter to add new stage*/
                  </div>
                  <mat-form-field *ngIf="!editingStatus" appearance="outline">
                    <textarea
                      matInput
                      placeholder="Stage details"
                      #detail
                      (keyup.arrowdown)="
                        appendDetails(detail.value); detail.value = ''
                      "
                    ></textarea>
                  </mat-form-field>

                  <mat-form-field *ngIf="editingStatus" appearance="outline">
                    <textarea
                      matInput
                      placeholder="Stage details"
                      #detail2
                      (keyup.arrowup)="
                        completeEdit(detail2.value); detail2.value = ''
                      "
                      value="{{ onEditingDetailContent }}"
                    ></textarea>
                  </mat-form-field>
                  <div id="listOfStage">
                    <h3><strong>Detail:</strong></h3>
                    <ul>
                      <li
                        *ngFor="let d of details; index as i"
                        #stage
                        class="stage-{{ i + 1 }}
                        "
                      >
                        <b>Stage {{ i + 1 }}: </b><br />
                        <span #detailContent>{{ d }} </span>

                        <span class="deleteIcon"
                          ><mat-icon (click)="clearStage(stage.classList)"
                            >clear</mat-icon
                          ></span
                        >
                        <span class="editIcon"
                          ><mat-icon
                            (click)="
                              editStage(
                                stage.classList,
                                detailContent.innerText
                              )
                            "
                            >edit</mat-icon
                          ></span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" class="secondForm">
              <ng-template matStepLabel>Anamnesis</ng-template>
              <div>
                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    placeholder="Being allergic to..."
                    formControlName="secondCtrlAllergy"
                  ></textarea>
                </mat-form-field>
                <div class="part">Patient desease history</div>
                <div class="field">
                  <div class="label">Presenting Allergy</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder="Being allergic to..."
                      formControlName="secondCtrlAllergy"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Presenting Vaccination</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder="list of vaccination"
                      formControlName="secondCtrlVaccination"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Presenting Health Background</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="secondCtrlHealthBackground"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="part">Family Relation desease history</div>
                <div *ngIf="!haveFamilyData">
                  <div class="field">
                    <div class="label">Relation</div>
                    <mat-form-field appearance="outline">
                      <textarea
                        matInput
                        placeholder=""
                        formControlName="secondCtrl"
                      ></textarea>
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Health Background</div>
                    <mat-form-field appearance="outline">
                      <textarea
                        matInput
                        placeholder=""
                        formControlName="secondCtrl"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button
                    class="btn"
                    color="primary"
                    mat-mini-fab
                    aria-label="Example icon-button with a heart icon"
                    (click)="openForm()"
                  >
                    <mat-icon>person_add</mat-icon>
                  </button>
                </div>
                <div *ngIf="!haveFamilyData" class="familyData"></div>
              </div>
              <div>
                <button mat-button matStepperNext>Next</button>
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup" class="secondForm">
              <ng-template matStepLabel>Clinical Examination</ng-template>
              <div>
                <div class="part">General</div>
                <div class="field">
                  <div class="label">Datetime</div>
                </div>
                <div class="field">
                  <div class="label">Clinical Examination</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="thirdCtrl"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="part">Area detail</div>
                <div class="field">
                  <div class="label">Area</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="thirdCtrl"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">In detail</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="thirdCtrl"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup" class="secondForm">
              <ng-template matStepLabel>Medical record summary</ng-template>
              <div>
                <div class="field">
                  <div class="label">General information</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="fourthCtrlGeneralInformation"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Sign</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="fourthCtrlSign"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Symtomp</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="fourthCtrlSymtomp"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup" class="secondForm">
              <ng-template matStepLabel>Diagnosis</ng-template>
              <div>
                <div class="part">General:</div>
                <div class="field">
                  <div class="label">Initial Diagnosis</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="fifthCtrlInitial"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Differential Diagnosis</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="fifthCtrlDifferential"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="part">Analy:</div>
                <div class="field">
                  <div class="label"><strong>Title:</strong></div>
                  <mat-form-field appearance="outline">
                    <input
                      class="bold-style"
                      matInput
                      placeholder="Khó thở mạn"
                      formControlName="fifthCtrlDifferential"
                    />
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Differential Diagnosis</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder="miêu tả tình trạng"
                      formControlName="fifthCtrlDifferential"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button
                  class="btn"
                  color="primary"
                  mat-mini-fab
                  aria-label="Example icon-button with a heart icon"
                  (click)="openForm()"
                >
                  <mat-icon>send</mat-icon>
                </button>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="sixthFormGroup">
            <form [formGroup]="sixthFormGroup" class="firstForm">
              <ng-template matStepLabel>Subclinical Examination</ng-template>
              <div>
                <div class="col">
                  <div class="field">
                    <div class="label">Type</div>
                    <mat-form-field appearance="outline">
                      <select matNativeControl>
                        <option value="Diagnosis">Diagnosis</option>
                        <option value="Thuongqui">Thường qui</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Test</div>
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        placeholder=""
                        formControlName="sixthCtrl"
                      />
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Date</div>
                    <!-- <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="sixthCtrl"
                    ></textarea>
                  </mat-form-field> -->
                  </div>
                  <div class="field">
                    <div class="label">Result</div>
                    <mat-form-field appearance="outline">
                      <textarea
                        matInput
                        placeholder=""
                        formControlName="sixthCtrl"
                      ></textarea>
                    </mat-form-field>
                  </div>
                  <div class="field">
                    <div class="label">Conclusion</div>
                    <mat-form-field appearance="outline">
                      <textarea
                        matInput
                        placeholder=""
                        formControlName="sixthCtrl"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col"></div>

                <div>
                  <button
                    class="btn"
                    color="primary"
                    mat-mini-fab
                    aria-label="Example icon-button with a heart icon"
                    (click)="openForm()"
                  >
                    <mat-icon>send</mat-icon>
                  </button>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="seventhFormGroup">
            <form [formGroup]="seventhFormGroup" class="secondForm">
              <ng-template matStepLabel>Diagnosis</ng-template>
              <div>
                <div class="field">
                  <div class="label">Primary Diagnosis</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="seventhCtrlPrimary"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="field">
                  <div class="label">Treatment</div>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      placeholder=""
                      formControlName="seventhCtrlTreatment"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button
                  class="btn"
                  color="primary"
                  mat-mini-fab
                  aria-label="Example icon-button with a heart icon"
                  (click)="openForm()"
                >
                  <mat-icon>send</mat-icon>
                </button>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <!-- <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Desease History</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex. 1 Main St, New York, NY" />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step> -->
          -->

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-stepper>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="v-pills-profile"
      role="tabpanel"
      aria-labelledby="v-pills-profile-tab"
    >
      <div class="form"></div>
    </div>
  </div>
</div>
