<div class="content">
  <div
    class="nav flex-column nav-pills me-3 left"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <div class="web-title">
      <img src="../../../assets/images/logo.png" alt="logo" class="logo" />
      <div class="big_title">Chest X-ray diagnosis support</div>
    </div>
    <button
      class="nav-link active rounded-0"
      id="v-pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-home"
      type="button"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
    >
      <span class="icon"><i class="fas fa-chart-pie"></i></span>
      <span class="title">Diagnosis</span>
    </button>
    <button
      class="nav-link rounded-0"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      <span class="icon"><i class="fas fa-ticket-alt"></i></span>
      <span class="title">History</span>
    </button>
  </div>
  <div class="tab-content right" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
    >
      <div class="tab-title">
        <div class="big">Diagnosis</div>
        <div class="doctor_name">{{ currentUserName }}</div>
        <div class="line"></div>
        <div class="doctor_img">
          <img
            src="../../../assets/images/avatar.png"
            width="43px"
            height="43px"
          />
        </div>
      </div>
      <div class="form">
        <!-- <button
          mat-raised-button
          (click)="isLinear = !isLinear"
          id="toggle-linear"
        >
          {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
        </button> -->
        <!-- <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Last name, First name"
                  formControlName="firstCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  formControlName="secondCtrl"
                  placeholder="Ex. 1 Main St, New York, NY"
                  required
                />
              </mat-form-field>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper> -->
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="v-pills-profile"
      role="tabpanel"
      aria-labelledby="v-pills-profile-tab"
    >
      <div class="form"></div>
    </div>
  </div>
</div>
