// 26,4%x67.7%
//screen: 1920x1080
//706.6x175

// LAYOUT
.login_container {
  width: 75%;
  max-width: 1920px;
  background-color: #252733;
  height: 100vh;
  margin: 0 auto;
  position: relative;

}

.loginForm {
  font-size: 16px;
  width: 26.38%;
  height: 582px;
  max-width: 1920px;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-form {
  margin: 0 2em; //of 16px
}

//typography
.title {
  text-align: center; //center all elements in class title
  // margin-bottom:40px;
}

.logo {
  width: 3.6875em; //of 16px
  height: 64px;
  margin-top: 1.5em;
}



.title h4 {
  font-style: normal;
  font-size: 1.1875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.49rem;
  letter-spacing: 0.01875rem;
  margin-top: 0.75rem;
  color: #A4A6B3;
  opacity: 0.55;
}

.title h2 {
  color: #252733;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.8825rem;
  letter-spacing: 0.01875rem;
  padding-top: 1.2rem;

}

.title h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.01875rem;
  color: #9FA2B4;
  opacity: 0.7;
  margin-top: 1.125rem;
}

//
mat-label {
  color: #9FA2B4;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.forgot {
  float: right;
  color: #9FA2B4;
  font-size: 12px;
  text-transform: none;
  padding-top: 2px;
  font-weight: 400;
  letter-spacing: 0.1px;

}

.title h2 {
  margin-bottom: 8px;
  margin-top: 25px
}

mat-form-field {
  width: 100%;
}

.blue {
  width: 100%;
  height: 48px;
  background-color: #3751FF;
  color: white;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
}

.link,
.blue_link {
  text-align: center;
  padding: 30px 0px;
  letter-spacing: 0.3px;
  color: #9FA2B4;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  padding-top: 2rem;
}

.blue_link {

  color: #3751FF;
  font-weight: 500;
}

button {
  border-radius: 7px;
}

@media only screen and (max-width: 1800px) {
  .loginForm {
    width: 36.38%;
    height: 600px;

  }
}

@media only screen and (max-width: 1100px) {
  .title h5 {
    display: none;
  }

  .loginForm {
    width: 36.38%;
    height: 560px;

  }
}

// @media only screen and (max-width: 440px) {
//   .container{
//     width:100%;
//     left:0
//   }
//   .loginForm{
//     transform: scale(0.8,0.8) translate(-66%,-25%);

//   }
// }

// @media only screen and (max-width: 380px) {
// .container{
//   width:100%;
//   left:0
// }
// .loginForm{
//   transform: scale(0.75,0.75) translate(-70%,-35%);

// }


// }
// @media only screen and (max-width: 1920px) {
//   .loginForm{
//     font-size: 16px;
//   }
//   }
// @media only screen and (max-width: 2570px) {
// .loginForm{
//   font-size: 20.8px;
// }
// }


//nest hub and ipad air ngang
// @media only screen and (max-width: 1290px) {
//   .loginForm {
//     width: 55%
//   }
// }
// //ipad air
// @media only screen and (max-width: 830px) {
//   .loginForm {
//     width: 75%
//   }
// }
