.content {
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: 1440px;
  background-color: coral;
  margin: 0 auto;
  padding: 20px 0;

}


.content .list {
  width: 20%; //OF CONTENT
  display: flex;
  flex-direction: column;
  background-color: #363740;

}

.text-content {
  width: 80%;
  background-color: #F7F8FC;
}

.content .list label {
  width: 100%;
  height: 56px;
  // padding-left: 32px;
  transition: all 0.5s ease;
  color: #A4A6B3;
  box-sizing: border-box;
  position: relative;
  top: 59px;
  display: flex;
  align-items: center;
}

.title {
  position: absolute;
  left: 28.2%;
}

.icon {
  position: absolute;
  left: 12.5%
}

//logo
.left_title {
  display: flex;

}

.col1 {
  width: 28.23%;
}

.col2 {
  width: 71.77%;
}

.logo {
  width: 3.7rem;
  height: 64px;
  position: relative;
  left: 0.8125rem;
  top: 1.375rem
}

.big_title {
  width: 90%;
  height: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23.85px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;

  /* sidebar / gray */

  color: #A4A6B3;

  opacity: 0.7;
  position: relative;
  top: 1.1875rem
}

#home:checked~.list label.home,
#blog:checked~.list label.blog {
  font-size: 16px;
  font-weight: 400;
  color: #DDE2FF;


}

.content .list label:hover {
  color: #DDE2FF;
  font-size: 16px;
  font-weight: 400;
}

.content .slider {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 56px;
  width: 19.5%;
  border: none;
  border-left: 2px solid #DDE2FF;
  background: rgba(159, 162, 180, 0.08);
  transition: all 0.4s ease;
}

#home:checked~.list .slider {
  top: 128px;
}

#blog:checked~.list .slider {
  top: 184px;
}



.content .text {
  display: none;


}

.content .text p {
  text-align: justify;
}




#home:checked~.text-content .home,
#blog:checked~.text-content .blog {
  display: block;

}

#blog:checked~.text-content .home {
  display: none;
}

.content .radio {
  display: none;
}


// //diagnosis\

.diagnosis_title {
  position: relative;
}

.big {
  position: absolute;
  width: 65%;
  height: 34px;
  left: 2.5%;
  right: 32.4%;
  top: 36px;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;

  /* grayscale / black */

  color: #252733;


}

.doctor_name {
  position: absolute;
  height: 18px;
  right: 10.67%;
  top: 43px;
  left: 8.31%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  text-align: right;
  letter-spacing: 0.2px;

  /* grayscale / black */

  color: #252733;
}

.doctor_img {
  position: absolute;
  width: 63.33px;
  height: 43.33px;
  right: 20.33px;
  top: 30.33px;
}

.doctor_img img {
  border-radius: 50%;
  padding: 0.33px 9.67px;
}

.line {
  position: absolute;
  width: 0px;
  height: 32px;
  top: 40px;
  left: 80%;
  right: 19.6%;

  /* grayscale / divider */
  border: none;
  border-left: 1px solid #DFE0EB;
}

//medical record form
.text {
  position: relative;
}



.medical_record_form {
  top: 89px;
  right: 59px;
  width: 90%;
  height: 100vh;
  background-color: #FFFFFF;
  left: 40px;
  bottom: 41px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.history_log {
  height: 100vh;
}

.form_title {
  //
  position: absolute;
  left: 9.93%;
  right: 46.74%;
  top: 7.16%;
  bottom: 88.68%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 43.2px;
  line-height: 43.12px;
  /* or 100% */


  color: #212121;


  color: #212121;
}

.compulsory {
  color: #ED0131;
  padding-left: 5px;
}


.form_body {
  padding: 4.86% 0;
}

.border-img {
  border: dashed 2px rgb(122, 122, 253);
  border-radius: 4px;
  padding: 16px
}






//STEPPER
mat-stepper {
  margin: 90px 10px 0 10px;

}

mat-stepper:hover {
  background-color: none;
}

.first_form {
  display: grid;
  grid-template-columns: 50% 50%;
}

.first_form .arrow {
  display: block;
  margin-top: 10px
}

mat-form-field {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 0px;
}

.label_form {
  font-size: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #6F7482;
  display: flex;
}

.label_form,
mat-form-field {
  //
  position: relative;
  left: 8.7%;
  font-size: 16px;
  line-height: 24px;
}

.arrow2 {
  position: relative;

}

.styled_button {
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 114% */

  text-transform: uppercase;

  /* Indigo & Pink/Primary/500 - #3F5185 */

  color: #3F51B5;
  border: 1px solid lightgrey;
  padding: 0px 10px;
  margin-left: 10px;
  margin-top: 10px
}

.analysis_button {
  float: right;
  margin-right: 46px;
  align-items: center;
  padding: 3px 6px;

  width: 160px;
  height: 36px;

  /* Text / Link */
  border: none;
  background: #0048D9;
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: #FFFFFF;
  font-size: 13px;
}

.xray {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1290px) {
  .content {
    width: 100%;
  }

  .content .list {
    width: 10%; //OF CONTENT


  }

  .text-content {
    width: 90%;
  }

  .title,
  .col2 {
    display: none;
  }

  .content .slider {

    width: 10%;
  }

  .left_title {
    align-items: center;
  }

  .logo {
    left: 0;
    transform: scale(0.5);
  }

}

@media only screen and (max-width: 890px) {
  .content {
    width: 100%;
  }

  .content .list {
    width: 10%; //OF CONTENT


  }

  .text-content {
    width: 90%;
  }

  .title,
  .col2 {
    display: none;
  }

  .content .slider {

    width: 10%;
  }

  .left_title {
    align-items: center;
  }

  .logo {
    left: 0;
    transform: scale(0.5);
  }

}

.text-content {
  background-color: #0048D9;


}

.medical_record_form {
  background-color: #727db9;
}
